<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Certificados</title>
</head>
<body>

    <%- include('partials/navbar') %>

    <div class="texto_inicio_pagina aparecer">
        <h1>Meus Certificados</h1>
        <hr class="decorativo_2">
        <h4>Aqui, você encontrará uma seleção dos cursos, workshops e eventos dos quais participei ao longo da minha jornada em tecnologia e desenvolvimento. Cada certificado representa um passo importante no meu aprendizado contínuo e no compromisso em sempre evoluir. Navegue com carinho por essas experiências!</h4>
         <br>
         <br>
    </div>
    <div class="todos_certificados aparecer">
        <% certificados.forEach(function(cert) { %>
        <div class="certificado">
            <h2 class="titulo_certificado"><%= cert.instituicao %></h2>
            <div class="contorno_certificado">
                <img src="<%= cert.imagem_certificado %>" alt="certificado <%= cert.instituicao %>" class="certificado_img">
                <p class="certificado_duracao"><%= cert.duracao %></p>
                <p class="certificado_descricao"><%= cert.descricao %></p>
                <a href="<%= cert.pdf_certificado %>" download class="botao_download">
                    <i class="fa-solid fa-download"></i> Baixar certificado
                </a>
            </div>
        </div>
    <% }) %>
    </div>

    <%- include('partials/footer') %>
    
    <script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visivel');
      }
    });
  });

  document.querySelectorAll('.aparecer').forEach(el => observer.observe(el));
</script>

</body>
</html>