<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Projetos</title>
</head>
<body>
    
    <%- include('partials/navbar') %>

    <div class="texto_inicio_pagina aparecer">
        <h1>Meus Projetos</h1>
        <hr class="decorativo_2">
        <h4>Nesta seção, apresento meus principais projetos acadêmicos e pessoais, bem como produções relevantes desenvolvidas ao longo da minha trajetória. Cada projeto é mais do que uma tarefa cumprida: representa uma oportunidade de aplicar conhecimentos técnicos, resolver problemas reais e transformar ideias em soluções concretas.</h4>
         <br>
         <h3 class="subtitulo_pagina">(Extra: Todos os logos de meus projetos acadêmicos semestrais foram desenhados por mim!)</h3>
         <br>
         <br>
    </div>

    <div class="todos_projetos aparecer">
        <% projetos.forEach(function(proj) { %>
        <div class="projeto">
            <div class="titulo_projeto">
                <a href="<%= proj.github_projeto %>" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <h2 class="titulo_certificado"><%= proj.titulo %></h2>
            </div>
            <div class="contorno_certificado_2">
            <img src="<%= proj.imagem_projeto %>" alt="img_projeto" style="width: <%= proj.largura_imagem %>;<%= proj.id === 4 ? ' margin-top: 2rem;' : '' %>;">
            <p class="certificado_duracao"><%= proj.legenda %></p>
            <p class="certificado_descricao"><%= proj.descricao_problema %></p>
            <p class="certificado_descricao"><%= proj.descricao_desafios %></p>
            <p class="certificado_descricao"><%= proj.descricao_solucoes %></p>
            <p class="certificado_descricao"><%= proj.descricao_aprendizados %></p>
        </div>
        </div>
        <% }) %>
    </div>

    <%- include('partials/footer') %>

    <script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visivel');
      }
    });
  });

  document.querySelectorAll('.aparecer').forEach(el => observer.observe(el));
</script>

</body>
</html>